<div *ngIf="dishForm">
    <h1 class="title">
        <span *ngIf="dish.dishId">Editar</span>
        <span *ngIf="!dish.dishId">Novo</span> prato</h1>
    <form [formGroup]="dishForm" (submit)="add($event)">
        <!-- <input (input)="dish.name = $event.target.value" [value]="dish.name" autocomplete="off"/> -->
        <div class="field">
            <label class="label">Restaurantes</label>
            <div class="control is-expanded has-icons-left">
                <div [class]="dishForm.controls.restaurantId.invalid ? 'select is-fullwidth is-danger' : 'select is-fullwidth is-success'">
                    <select formControlName="restaurantId" name="restaurantId" [(ngModel)]="dish.restaurantId">
                        <option *ngFor="let restaurant of restautantOptions" [value]="restaurant.restaurantId">{{restaurant.name}}</option>
                    </select>
                </div>
                <span *ngIf="dishForm.controls.restaurantId.invalid" class="icon is-small is-left">
                    <i class="fas fa-exclamation-triangle"></i>
                </span>
                <span *ngIf="!dishForm.controls.restaurantId.invalid" class="icon is-small is-left">
                    <i class="fas fa-check"></i>
                </span>
            </div>
            <div *ngIf="dishForm.controls.restaurantId.invalid">
                <p class="help is-danger" *ngIf="dishForm.controls.restaurantId.errors.required">
                    Escolher o restaurante é obrigatório
                </p>
            </div>
        </div>
        <div class="field">
            <label class="label">Nome</label>
            <div class="control has-icons-left">
                <!-- <input class="input is-danger" type="email" placeholder="Email input" value="hello@"> -->
                <input [class]="dishForm.controls.name.invalid ? 'input is-danger' : 'input is-success'" type="text" formControlName="name" name="name" [(ngModel)]="dish.name" autocomplete="off">
                <span *ngIf="dishForm.controls.name.invalid" class="icon is-small is-left">
                    <i class="fas fa-exclamation-triangle"></i>
                </span>
                <span *ngIf="!dishForm.controls.name.invalid" class="icon is-small is-left">
                    <i class="fas fa-check"></i>
                </span>
            </div>
            <div *ngIf="dishForm.controls.name.invalid">
                <p class="help is-danger" *ngIf="dishForm.controls.name.errors.minlength">
                    O nome deve ter no mínimo 4 caracteres
                </p>
                <p class="help is-danger" *ngIf="dishForm.controls.name.errors.required">
                    O nome é obrigatório
                </p>
            </div>
        </div>
        <div class="field">
            <label class="label">Preço</label>
            <div class="control has-icons-left">
                <!-- <input class="input is-danger" type="email" placeholder="Email input" value="hello@"> -->
                <input [class]="dishForm.controls.price.invalid ? 'input is-danger' : 'input is-success'" type="text" formControlName="price" name="price" [(ngModel)]="dish.price" autocomplete="off" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                <span *ngIf="dishForm.controls.price.invalid" class="icon is-small is-left">
                    <i class="fas fa-exclamation-triangle"></i>
                </span>
                <span *ngIf="!dishForm.controls.price.invalid" class="icon is-small is-left">
                    <i class="fas fa-check"></i>
                </span>
            </div>
            <div *ngIf="dishForm.controls.price.invalid">
                <p class="help is-danger" *ngIf="dishForm.controls.price.errors.required">
                    O preço é obrigatório
                </p>
            </div>
        </div>
        <a class="button" [routerLink]="['/dishs']">
            Cancelar
        </a>
        <button class="button is-success" type="submit" [disabled]="dishForm.invalid">
            <span class="icon is-small">
                <i class="fas fa-check"></i>
            </span>
            <span>Salvar</span>
        </button>
    </form>
</div>