<menu style="padding: 0px !important; margin: 0px !important;">
</menu>
<section class="section content">
  <div class="container content-inside">
    <router-outlet></router-outlet>
  </div>
</section>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Cedro.</strong> Desenvolvido por
      <a href="https://github.com/rodrigo-campero">Rodrigo Campero</a>. O código fonte está licenciado de acordo com o 
      <a href="https://opensource.org/licenses/MIT">MIT</a>.
    </p>
  </div>
</footer>